/* =========================
   BUTTONS STYLE
   ========================= */

.button {
	display:                   inline-block;
  width:                     11.429rem;
  padding:                   .928rem 0;
  border:                    2px solid;
  border-radius:             1.786rem;
  text-align:                center;
}

.button-primary-hollow {
	border-color:              var(--light-ctn-color);
	color:                     var(--light-ctn-color);
	background-color:          transparent;
}

.button-primary-hollow:hover {
	color:                     var(--secondary-bg-color);
	background-color:          var(--light-ctn-color);
}

.button-secondary-hollow {
	border-color:              var(--secondary-bg-color);
	color:                     var(--secondary-bg-color);
	background-color:          transparent;
}

.button-secondary-hollow:hover {
	background-color:          var(--secondary-bg-color);
	color:                     var(--dark-ctn-color);
}






/* =========================
   CATEGORY CARD STYLE
   ========================= */

.category__card-img {
	width:                     7.143rem;
  height:                    7.143rem;
  margin-right:              1.429rem;
  border-radius:             .714rem;
}

.category__card-wrapper {
  display:                   flex;
	flex-direction:            row;
	
}

.category__card {
	display:                   flex;
	flex-direction:            row;
	flex-wrap:                 nowrap;
  padding:                   1.429rem;
  border-radius:             1.071rem;	
	background-color:          var(--secondary-bg-color);
}

.category__card-name {
	color:                     var(--light-ctn-color);
}

.category__card-text {
	margin-bottom:             0;
}

.category__card-business {
	margin:                    0 1.071rem 2.143rem 0;
}

.category__card-culture {
	margin:                    0 0 2.143rem 0;
}

.sidebar__element-category-card {
	border-radius:             0;
}




/* =========================
   HEADER STYLES
   ========================= */

.header {
  background-color:          var(--light-ctn-color);
  display:                   flex;
  justify-content:           center;
}





/* ========================
   SECTION NAV STYLES
   ======================== */

.section__nav {
  background-color:          var(--secondary-bg-color);
  text-align:                center;
	color:                     var(--dark-ctn-color);
}

.nav__btn {
  padding:                   1rem;
}

.nav__btn-link:hover {
	color:                     var(--light-ctn-color);
}


@media (min-width: 822px) {
  .nav__btn:hover {
    padding-bottom:          calc(1rem - 5px);
    border-bottom:           5px solid var(--light-ctn-color);
    transition:              border-bottom .3s linear;
  }
}

@media (max-width: 821px) {
	.nav__btn {
		border-bottom:           .5px dashed var(--light-ctn-color)
	}
}


/* ========================
   CONTENT STYLES
   ======================== */

.content {
	display:                   flex;
	flex-direction:            row;
	flex-basis:                76.9vw;
	margin:                    2.857rem 0;
}

.main {
	display:                   flex;
	flex-direction:            column;
  flex-basis:                45.625vw;
	margin-right:              1.071rem;
}

.sidebar {
	display:                   flex;
	flex-direction:            column;
  flex-basis:                22.344vw;
	margin-left:               1.071rem;
}

@media (max-width: 768px) {
  .content {
    flex-direction:          column;
  }
	.main,
	.sidebar {
	margin:                    0 2.143rem;
	}
}





/* ========================
   BLOG POST STYLES
   ======================== */

.blog__post {
	background-color:          var(--secondary-bg-color);
  padding:                   4.286rem 4.286rem 3.751rem 4.286rem;
	margin-bottom:             2.143rem;
	border-radius:             1.071rem;
}

.blog__post-featured {
	background-image:
		url(../pics/roberto-nickson-5ui0tfMC5ts-unsplash.jpg);
	background-size:           cover;
	color:                     var(--secondary-bg-color);
}

.blog__post-img {
	width:                     100%;
	height:                    300px;
	border-radius:             1.071rem 1.071rem 0 0;
}

.blog__post-w-img {
	border-radius:             0 0 1.071rem 1.071rem;
}





/* ========================
   SIDEBAR ELEMENT STYLES
   ======================== */

.sidebar__element {
	margin-bottom:             2.143rem;
}

.sidebar__element-header {
	background-color:          var(--light-ctn-color);
	color:                     var(--secondary-bg-color);
	text-align:                center;
	padding:                   1.607rem;
	border-radius:             1.071rem 1.071rem 0 0;
}

.sidebar__element-header-title {
	margin-bottom:             0;
}

.sidebar__element-footer {
	background-color:          var(--secondary-bg-color);
	text-align:                center;
	padding:                   1.607rem;
	border-radius:             0 0 1.071rem 1.071rem;
	border-top:                .036rem solid var(--light-ctn-color);
}

.sidebar__element-link:hover {
	color:                     var(--light-ctn-color);
}

.sidebar__element-list-item {
	padding:                   1.214rem 2.143rem 1.286rem 2.143rem;
	background-color:          var(--secondary-bg-color);
	border-bottom:             .036rem solid var(--btn-text-color);
	
}

.sidebar__element-list-item:last-child {
	border-bottom:             0;
}

.sidebar__element-category-link {
	color:                     var(--btn-text-color);
}

.sidebar__element-footer-link {
	color:                     var(--btn-text-color);
}

.sidebar__element-footer-link:hover {
	color:                     var(--light-ctn-color);
}





/* ========================
   FOOTER STYLES
   ======================== */

.footer {
	text-align:                center;
	padding:                   1.714rem;
	background-color:          var(--dark-ctn-color);
}

.footer__copyright {
	text-transform:            uppercase;
	font-size:                 .857rem;
	font-weight:               bold;
	letter-spacing:            .171rem;
	color:                     var(--btn-text-color);
	margin-bottom:             0;
}

.footer__brand-name,
.footer__student-name {
	color:                     var(--light-ctn-color);
}


