/* =========================
   BUTTONS
   ========================= */

.button {
  width:          11.429rem;
  padding:        .928rem 0;
  border:         2px solid;
  border-radius:  1.786rem;
  text-align:     center;
}



.categori__card-img {
	width:                     8.571rem;
  height:                    8.571rem;
  margin-right:              1.429rem;
  border-radius:             .714rem;
	float:                     left;
}







/* =========================
   HEADER STYLES
   ========================= */

.header {
  background-color:          var(--light-ctn-color);
  display:                   flex;
  justify-content:           center;
  align-items:               center;
  height:                    60px;
}





/* ========================
   SECTION NAV STYLES
   ======================== */

.section__nav {
  background-color:          var(--secondary-bg-color);
  text-align:                center;
}

.nav__btn {
  color:                     var(--light-ctn-color);
  padding:                   1rem;
}


@media (min-width: 822px) {
  .nav__btn:hover {
    padding-bottom:          calc(1rem - 5px);
    border-bottom:           5px solid var(--light-ctn-color);
    transition:              border-bottom .3s linear;
  }
}

@media (max-width: 821px) {
	.nav__btn {
		border-bottom:           .5px dashed var(--light-ctn-color)
	}
}


/* ========================
   CONTENT STYLES
   ======================== */

.content {
	display:                   flex;
	flex-direction:            row;
	flex-basis:                69.4vw;
	margin:                    40px 0;
}

.main {
	display:                   flex;
	flex-direction:            column;
  flex-basis:                45.625vw;
	margin-right:              15px;
}

.sidebar {
  flex-basis:                21.875vw;
	margin-left:               15px;
}

@media (max-width: 768px) {
  .content {
    flex-direction:          column;
  }
	.main {
		width:                   90vw;
	}
	.sidebar {
		width:                   90vw;
	}
}

.featured {
	height:                    38.89vh;
	background-image:
		url(../pics/roberto-nickson-5ui0tfMC5ts-unsplash.jpg);
	border-radius:             15px;
	color:                     var(--secondary-bg-color);
	padding:                   40px;
	margin-bottom:             30px;
}


.categori__card-wrapper {
  display:                   flex;
	flex-direction:            row;
	
}

.categori__card {
  padding:                   1.429rem;
  border-radius:             1.071rem;	
	background-color:          var(--secondary-bg-color);
}


